<th data-datasheet-column-header="{{ column.name }}">
    <div data-datasheet-column-title="{{ column.name }}"
         class="ellipsis"
         style="
                 width:{{ column.width }}px;
                 text-align: {{ column.align }};
                 ">
        {{ column.title ?? (column.name|normalize) }}
    </div>
</th>