{{ dump(datasheet_filters_form(datasheet)) }}

<hr>
{% set form = datasheet_filters_form(datasheet) %}
{{ form(form) }}

{##}
{#{{ form_start(form) }}#}
{##}
{#{% for child in form.children %}#}
{#    {{ form_widget(child) }}#}
{#{% endfor %}#}
{##}
{#{{ form_end(form) }}#}

<hr><hr><hr>

<h3 class="box-title">{{ datasheet.title }}</h3>

<div class="table-responsive" data-datasheet-id="">
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            {% for column in datasheet.columns %}
                {{ datasheet_column_header(column) }}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in datasheet.data.items %}
            <tr>
                {% for column in datasheet.columns %}
                    {{ datasheet_cell(column, item) }}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
