<div data-datasheet="{{ datasheet.id }}">
    <form action="?" method="get" data-datasheet-form="{{ datasheet.id }}">
        {% set filterForm = datasheet_filters_form(datasheet) %}
        {{ form_start(filterForm) }}

        <div class="clearfix">
            <span class="lead">{{ datasheet.title }}</span>
            <div class="pull-right">
                <div class="btn-group">
                    {% for text, url in datasheet.controls %}
                        <a href="{{ url }}" class="btn btn-default" data-datasheet-control="{{ text }}">{{ text|trans }}</a>
                    {% endfor %}
                </div>
                <div class="btn-group">
                    <input type="submit" value="{{ 'Apply filters'|trans }}" class="btn btn-default" data-datasheet-control-apply-filters="1">
                </div>
                <div class="btn-group" data-datasheet-items-total="{{ datasheet.data.itemsTotal }}"></div>
            </div>

        </div>

        <br>

        <div class="table-responsive" data-datasheet-id="">
            <table class="table table-striped table-bordered table-sm" style="table-layout: initial;width:auto;">
                <thead>
                <tr>
                    {% for column in datasheet.columns %}
                        {% include '@Data/datasheet/column_header.html.twig' %}
                    {% endfor %}
                </tr>
                <tr class="datasheet-column-filters-row">
                    {% for column in datasheet.columns %}
                        {% include '@Data/datasheet/column_filters.html.twig' %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in datasheet.data.items %}
                    <tr>
                        {% for column in datasheet.columns %}
                            {{ datasheet_cell(datasheet, column, item) }}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="hidden">
            {{ datasheet.data.itemsTotal }}
            {{ form_end(filterForm) }}
        </div>

{#        {{ app.environment == 'dev' ? dump(datasheet) : '' }}#}

    </form>
</div>
