<h4>{{ 'data.comment.form_title'|trans }}:</h4>
{{ form_start(form) }}
{{ form_widget(form.body) }}
<br>
<input type="submit" class="btn btn-primary" value="{{ 'ui.add'|trans }}" data-entity-comment-form-submit-button="1">
{{ form_end(form) }}