{% extends '@Admin/layout.html.twig' %}
{% set entityConfiguration = get_entity_configuration(object) %}

{% block page_content %}

    <h4 class="m-5">
        <a
                href="{{ path('admin_data_edit', {'entity': object|classname, 'id': object.id }) }}"
                class="btn btn-info btn-sm"
                data-entity-crud-edit-link="{{ object.id }}"
        >Edit</a>
        {{ object|entityName }} #{{ object.id }}
    </h4>

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            {% for action in entityConfiguration.actions %}
                <li class="{{ app.request.requestUri == action.url ? 'active' : '' }}">
                    <a href="{{ action.url }}" data-entity-menu="{{ action.name }}">
                        {{ action.title|normalize|trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}