{% extends '@Platform/admin/entity/layout.html.twig' %}

{% block entity_page_body %}
    {{ form_start(form) }}
    <table class="table table-bordered table-hover bg-light">
        {% for child in form.children %}
            {% if child.vars.name != '_token' %}
                <tr>
                    <td width="200"><b>{{ child.vars.label }}:</b></td>
                    <td>
                        {{ form_widget(child, {'attr': {'class':''}}) }}
                        {% if form_errors(child) %}
                            {{ form_errors(child) }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td width="200"></td>
            <td><input type="submit" value="{{ 'Save'|trans }}" class="btn btn-primary"
                       data-entity-crud-edit-submit-button=""></td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}