{% extends '@Platform/admin/layout.html.twig' %}

{% block page_title %}
    {% set objectReadableTitle = object|readableTitle(false) %}
    {{ object|shortClassName }} #{{ object.id }}{{ objectReadableTitle ? ':' : '' }} {{ objectReadableTitle }}
{% endblock %}

{% block page_menu %}
    {% include '@Platform/admin/entity/menu.html.twig' with {object: object} %}
{% endblock %}

{% block page_body %}
    {% set sidebarName = 'admin.entity.sidebar.' ~ (object|className|toSnakeCase) %}
    {% set hasTwigBlocks = hasTwigBlocks(sidebarName) %}
    <div class="row">
        <div class="{{ hasTwigBlocks ? 'col-md-7' : 'col-md-12' }}">
            {% block entity_page_body %}
            {% endblock %}
        </div>
        {% if hasTwigBlocks %}
            <div class="col-md-5">
                {{ twigBlocks(sidebarName) }}
            </div>
        {% endif %}
    </div>
{% endblock %}