{% extends '@Platform/admin/entity/layout.html.twig' %}
{% set entitySidebarName = constant('A2Global\\A2Platform\\Bundle\\PlatformBundle\\Twig\\Block\\AdminEntitySidebar::VIEW') %}

{% block page_title %}
    {{ objectName }} #{{ object.id }}
{% endblock %}

{% block page_menu %}
    {% include '@Platform/admin/entity/menu.html.twig' with {object: object} %}
{% endblock %}

{% block entity_page_body %}
    <table class="table table-bordered table-hover bg-light">
        {#        {{ tag_list(object) }} #}
        {% for item in data %}
            <tr>
                <td width="200"><b>{{ item.name|translate }}:</b></td>
                <td>{{ item.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}