{% extends '@Platform/layout/dashboard.html.twig' %}

{% block header_brand %}
    Admin panel
{% endblock %}

{% block sidebar %}
    <ul class="nav {% block sidebar_nav_style_classes %}navbar-dark{% endblock %} flex-column text-truncate">
        {% for item in menu('admin_sidebar').items %}
            {% if item.url %}
                {% set url = item.url %}
            {% elseif item.routeName %}
                {% set url = path(item.routeName, item.routeParameters) %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active {{ sidebar_nav_link_style_classes ?? ' m-0 p-0 py-1 text-white' }}" aria-current="page" href="{{ url ?? '#' }}">
                    {{ item.text|translate }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
    <div class="px-3">
        <h5>
            {% block page_title %}
            {% endblock %}
        </h5>

        <div class="mt-4">
            {% block page_menu %}
            {% endblock %}
        </div>
        <div class="mt-4 pb-5 mb-5">
            {% block page_body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/platform/libs/jquery-3.6.3/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ asset('bundles/platform/js/datasheet.js') }}"></script>
{% endblock %}