{% extends '@Admin/layout.html.twig' %}

{% block page_content %}
    {% include '@Data/crud/edit.header.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-7">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        {% for child in form.children %}
                            {% if child.vars.name != '_token' %}
                                <tr>
                                    <td width="200"><b>{{ child.vars.label }}:</b></td>
                                    <td>
                                        {{ form_widget(child) }}
                                        {% if form_errors(child) %}
                                            {{ form_errors(child) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td width="200"></td>
                            <td><input type="submit" value="{{ 'Save'|trans }}" class="btn btn-primary"
                                       data-entity-crud-edit-submit-button=""></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}