<div data-datasheet="{{ datasheet.id }}">
    <form action="?" method="get" data-datasheet-form="{{ datasheet.id }}">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ datasheet.title }}</h3>
                <div class="card-tools">

                    {# {{ datasheet.itemsTotal }}        -#}
                    {# {{ datasheet.page }}        -#}
                    {# {{ datasheet.perPage }} #}

                    <ul class="pagination">
                        {# <li class="paginate_button page-item previous disabled" id="example2_previous"> #}
                        {# <a href="#" #}
                        {# aria-controls="example2" #}
                        {# data-dt-idx="0" #}
                        {# tabindex="0" #}
                        {# class="page-link">Previous</a> #}
                        {# </li> #}

                        {# {% for page in 0..datasheet. Total %} #}
                        {# <li class="paginate_button page-item {{ datasheet.page == page ? 'active' : '' }}"> #}
                        {# <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" #}
                        {# class="page-link">{{ page + 1 }}</a> #}
                        {# </li> #}
                        {# {% endfor %} #}
                        {# <a href="#" aria-controls="example2" #}
                        {# data-dt-idx="7" tabindex="0" #}
                        {# class="page-link">Next</a> #}
                        </li>
                    </ul>
                    <input type="submit">
                    {% if app.environment == 'dev' %}
                        <details>
                            <summary>
                                Debug
                            </summary>
                            <hr>
                            {{ dump(datasheet) }}
                            <hr>
                            Filters:<br><br>
                            {% for filterName, filterForm in datasheet.filtersForm %}
                                {{ filterName }}<br>
                                {% for formField in filterForm %}
                                    <input type="text" name="{{ formField.name }}" value="{{ formField.value }}">
                                    ({{ formField.name }})
                                    <br>
                                {% endfor %}
                                <br>
                            {% endfor %}
                            <hr>
                        </details>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" data-datasheet-id="{{ datasheet.id }}">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            {% for column in datasheet.columns %}
                                <th>
                                    <div class="ellipsis"
                                         style="width:{{ column.width }}px;text-align: {{ column.align }};">
                                        {{ column.title }}
                                    </div>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for column in datasheet.columns %}
                                <td>
                                    {% set filtersForm = datasheet.filtersForm(column) %}
                                    {% if filtersForm|length %}
                                        <select data-datasheet-column-filter-selector="{{ column.name }}"
                                                class="form-control">
                                            {% for filterName, filterForm in filtersForm %}
                                                <option value="{{ filterName }}">{{ filterName }}</option>
                                            {% endfor %}
                                        </select>
                                        <div data-datasheet-column-filters="{{ column.name }}">
                                            {% for filterName, filterForm in filtersForm %}
                                                <div data-datasheet-column-filter="{{ filterName }}">
                                                    {% for formField in filterForm %}
                                                        <input type="text" name="{{ formField.name }}"
                                                               value="{{ formField.value }}" class="form-control">
                                                    {% endfor %}
                                                    <br>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% for dataItem in datasheet.data.items %}
                            <tr>
                                {% for column in datasheet.columns %}
                                    <td>
                                        <div class="ellipsis"
                                             style="width:{{ column.width }}px;text-align: {{ column.align }};">
                                            {{ datasheet_cell(dataItem, column) }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>