<div data-datasheet="{{ datasheet.id }}">
    <form action="?" method="get" data-datasheet-form="{{ datasheet.id }}">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ datasheet.title }}</h3>
                <div class="card-tools">
                    <ul class="pagination" data-datasheet-items-total="{{ datasheet.itemsTotal }}"></ul>
                </div>
            </div>
            <div class="card-body">
                {% if app.environment == 'dev' %}
                    <details>
                        <summary>
                            Debug
                        </summary>
                        {{ dump(datasheet) }}
                    </details>
                {% endif %}
                {% for filterForm in datasheet.filterForms %}
                    {% for formField in filterForm.fields %}
                        <input type="hidden" name="{{ formField.name }}" value="{{ formField.value }}">
                    {% endfor %}
                {% endfor %}
                <input type="submit" hidden>
                <div class="table-responsive" data-datasheet-id="{{ datasheet.id }}">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            {% for column in datasheet.columns %}
                                <th>
                                    <div data-datasheet-column-title="{{ column.name }}" class="ellipsis"
                                         style="width:{{ column.width }}px;text-align: {{ column.align }};">
                                        {{ column.title }}
                                    </div>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for column in datasheet.columns %}
                                <td>
                                    {% set filterForms = datasheet.filterForms(column) %}
                                    {% if filterForms|length %}
                                        <select data-datasheet-column-filter-selector="{{ column.name }}"
                                                class="form-control">
                                            {% for filterForm in filterForms %}
                                                <option value="{{ filterForm.name }}"
                                                        {{ filterForm.isApplied ? 'selected' : '' }}
                                                >{{ filterForm.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div data-datasheet-column-filters="{{ column.name }}">
                                            {% for filterForm in filterForms %}
                                                <div data-datasheet-column-filter="{{ filterForm.name }}">
                                                    {% for formField in filterForm.fields %}
                                                        <input type="{{ formField.type ?? 'hidden' }}"
                                                               name="{{ formField.name }}"
                                                               value="{{ formField.value }}"
                                                               class="form-control">
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% for dataItem in datasheet.data.items %}
                            <tr>
                                {% for column in datasheet.columns %}
                                    <td>
                                        <div class="ellipsis"
                                             style="width:{{ column.width }}px;text-align: {{ column.align }};">
                                            {% set cellContent = datasheet_cell(dataItem, column) %}
                                            {% if column.hasActionUrl %}
                                                <a href="{{ column.buildActionUrl(dataItem) }}" rel="nofollow">
                                                    <b>{{ cellContent }}</b>
                                                </a>
                                            {% else %}
                                                {{ cellContent }}
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>