<td style="text-align: {{ align }}">
    {% if link %}
    <a href="{{ link }}" class="text-primary" data-datasheet-cell-link="{{ linkId }}">
        {% endif %}

        <span class="{{ classes }}" style="white-space: nowrap">{{ text|raw }}</span>

        {% if link %}
    </a>
    {% endif %}
</td>