<div data-datasheet="{{ datasheet.id }}">

    {#    <form action="" method="post" id="datasheet-mass-action-form"> #}
    {#        <input type="text" name="datasheet-mass-action-form-ids"> #}
    {#    </form> #}

    <form action="?" method="get" data-datasheet-form="{{ datasheet.id }}">
        {% set filterForm = datasheet_filters_form(datasheet) %}
        {{ form_start(filterForm) }}
        <div class="row pt-3 px-1 mb-3">
            <div class="col-md-6">
                <input type="submit"
                       value="{{ 'Apply filters'|translate }}"
                       class="btn btn-primary"
                       data-datasheet-control-apply-filters="1"
                >
            </div>
            <div class="col-md-6 text-right">
                <nav>
                    <ul class="pagination justify-content-end"
                        data-datasheet-items-total="{{ datasheet.data.itemsTotal }}"
                        data-pagination-first-page-title="{{ 'First page'|translate }}"
                        data-pagination-last-page-title="{{ 'Last page'|translate }}"
                    ></ul>
                </nav>
                {#                <div class="btn-group"> #}
                {#                    {% for text, url in datasheet.controls %} #}
                {#                        <a href="{{ url }}" class="btn btn-default" #}
                {#                           data-datasheet-control="{{ text }}">{{ text|translate }}</a> #}
                {#                    {% endfor %} #}
                {#                </div> #}
            </div>
        </div>

        {#        <div> #}
        {#            <div class="col-md-2"> #}
        {#                <select id="datasheet-mass-action-selector" class="form-control"> #}
        {#                    <option value="">With selected:</option> #}
        {#                    {% for action in datasheet.massActions %} #}
        {#                        <option value="{{ buildActionUrl(action) }}">{{ action.name|translate }}</option> #}
        {#                    {% endfor %} #}
        {#                </select> #}
        {#            </div> #}
        {#            <div class="col-md-5"> #}
        {#                {% if filterForm.children[datasheet.id]['df']['tags']['value'] ?? false %} #}
        {#                    <div class="row"> #}
        {#                        <div class="col-sm-10">{{ form_widget(filterForm.children[datasheet.id]['df']['tags']['value']) }}</div> #}
        {#                        <div class="col-sm-2"> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                {% endif %} #}
        {#            </div> #}

        {#                <div class="btn-group" data-datasheet-items-total="{{ datasheet.data.itemsTotal }}"></div> #}
        {#        </div> #}
        <div class="table-responsive w-100">
            <table class="table table-striped rounded table-bordered table-sm table-hover w-100"
                   style="table-layout: initial;width:auto;">
                <thead class="table-secondary">
                <tr>
                    {#                    <td> #}
                    {#                        <input type="checkbox"> #}
                    {#                    </td> #}
                    {% for column in datasheet.columns %}
                        {% include '@Platform/datasheet/column_header.html.twig' %}
                    {% endfor %}
                </tr>
                <tr class="datasheet-column-filters-row">
                    {#                    <td>&nbsp;</td> #}
                    {% for column in datasheet.columns %}
                        {% include '@Platform/datasheet/column_filters.html.twig' %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in datasheet.data.items %}
                    <tr>
                        {#                        <td> #}
                        {#                            <input type="checkbox" name="datasheet-mass-action-checkbox[]" value="{{ item.value('id') ?? '' }}"> #}
                        {#                        </td> #}
                        {% for column in datasheet.columns %}
                            {{ datasheet_cell(datasheet, column, item) }}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{#        <div class="{{ app.environment == 'dev' ? '' : 'hidden' }}">#}
{#            <details>#}
{#                <summary>Debug info</summary>#}
{#                {{ datasheet.data.itemsTotal }}#}
{#                {{ form_end(filterForm) }}#}
{#            </details>#}
{#        </div>#}

        {{ form_end(filterForm) }}

    </form>
</div>
